In [2]:
%load_ext sql

In [3]:
%sql sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db

In [4]:
%%sql

CREATE TABLE IF NOT EXISTS Users (
    UserID INT PRIMARY KEY,
    Username VARCHAR(50) UNIQUE NOT NULL,
    Password VARCHAR(255) UNIQUE NOT NULL,
    Email VARCHAR(100) UNIQUE NOT NULL,
    CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CHECK (LENGTH(Username) >= 3),
    CHECK (LENGTH(Password) >= 8),
    UNIQUE (Username, Password, Email)
)

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[]

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS Posts (
    PostID INT PRIMARY KEY,
    UserID INT NOT NULL,
    Content TEXT NOT NULL,
    CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CHECK (LENGTH(Content) > 0),
    CHECK (LENGTH(Content) <= 500),
    FOREIGN KEY (UserID) REFERENCES Users(UserID) ON DELETE CASCADE
)

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[]

In [11]:
%%sql

CREATE TABLE IF NOT EXISTS PostMetrics (
    PostMetricID INT PRIMARY KEY,
    PostID INT UNIQUE NOT NULL,
    LikeCount INT DEFAULT 0,
    ShareCount INT DEFAULT 0,
    LastUpdatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CHECK (LikeCount >= 0),
    CHECK (ShareCount >= 0),
    FOREIGN KEY (PostID) REFERENCES Posts(PostID) ON DELETE CASCADE
)

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[]

In [ ]:
%%sql

CREATE TABLE IF NOT EXISTS Likes (
    PostID INT NOT NULL,
    UserID INT NOT NULL,
    CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (PostID) REFERENCES Posts(PostID) ON DELETE CASCADE,
    FOREIGN KEY (UserID) REFERENCES Users(UserID) ON DELETE CASCADE,
    PRIMARY KEY (PostID, UserID)
);

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
(sqlite3.OperationalError) near "uniqueKey": syntax error
[SQL: CREATE TABLE IF NOT EXISTS Likes (
    PostID INT NOT NULL,
    UserID INT NOT NULL,
    CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (PostID) REFERENCES Posts(PostID) ON DELETE CASCADE,
    FOREIGN KEY (UserID) REFERENCES Users(UserID) ON DELETE CASCADE,
    PRIMARY KEY uniqueKey (PostID, UserID)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
%%sql


CREATE TABLE IF NOT EXISTS Shares (
    ShareID INT PRIMARY KEY,
    PostID INT NOT NULL,
    FromUserID INT NOT NULL,
    ToUserID INT NOT NULL,
    CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    CHECK (FromUserID != ToUserID),
    FOREIGN KEY (PostID) REFERENCES Posts(PostID) ON DELETE CASCADE,
    FOREIGN KEY (FromUserID) REFERENCES Users(UserID) ON DELETE CASCADE,
    FOREIGN KEY (ToUserID) REFERENCES Users(UserID) ON DELETE CASCADE
)

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[]

In [4]:
%%sql

select * from users

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[]

In [4]:
%%sql

DELETE FROM USERS where 1=1

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
5 rows affected.

[]

In [ ]:
%%sql

SELECT * FROM Users U LEFT OUTER JOIN Posts P ON U.UserID=P.UserId where U.UserID = 0

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[(0, 'apai4159', '#StriveToThrive', 'apai4159@gmail.com', '11/29/2024, 4:43:19 PM', None, None, None, None)]

In [8]:
%%sql


SELECT * from Posts, Users where Users.UserID = Posts.UserID

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
Done.

[(0, 0, 'Hello, this is my first post!', '11/30/2024, 4:28:59 PM', 0, 'apai4159', '#StriveToThrive', 'apai4159@gmail.com', '11/29/2024, 4:43:19 PM'),
 (1, 0, 'This is my second post baby!', '11/30/2024, 4:38:19 PM', 0, 'apai4159', '#StriveToThrive', 'apai4159@gmail.com', '11/29/2024, 4:43:19 PM')]

In [10]:
%%sql


DELETE FROM Posts where Posts.PostID = 0

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
1 rows affected.

[]

In [15]:
%%sql

UPDATE Posts SET Content = "I was just updated by check.py" WHERE Posts.UserID = 0 and Posts.PostID = 0

 * sqlite:////Users/ayushpai/COMP421/fakyak/backend/fakyakData.db
1 rows affected.

[]